<%- include("../partial/header.ejs")%>
<%- include("../partial/navbar.ejs")%>

<div class="container-fluid accountPage">
    <img src="/static/image/account/password.svg" class="accountImg" alt="password-setting">
    <div class="passwordSettingBox">
        <span>Current password</span>
        <input class="form-control" type="password" id="oldPassword" required>
    </div>
    <div class="passwordSettingBox">
        <span>New password</span>
        <input class="form-control" type="password" id="newPassword" minlength="4" required>
    </div>
    <div class="passwordSettingBox">
        <span>Confirm new password</span>
        <input class="form-control" type="password" id="newPasswordCheck" minlength="4" required>
        <input type="hidden" id="_csrf" value="<%= csrfToken %>">
    </div>

    <span class="passwordChangeMessage"></span>
    <div class="passwordSettingBox">
        <button class="btn btn-outline-secondary passwordChangeBtn">save</button>
    </div>
</div>

<script src="/static/js/account.js"></script>