<%- include("./partial/header.ejs")%>
<%- include("./partial/navbar.ejs")%>

<div class="container-fluid errBox">
    <img src="/static/image/error.svg" alt="" class="errorImage">
    <h3 class="errText">
        <%= errorMessage %></h3>
</div>