<%- include("../partial/header.ejs")%>

<div class="container-fluid indexBox-unauth">
    <img src="/static/image/index/panda-black.svg" alt="" class="indexImg">
    <h2 class="indexTitle">Pandolist</h2>
    <h4 class="indexText">Join us immediately!</h4>
    <div class="btn-group" role="group">
        <a class="indexBtn btn btn-outline-dark" href="/auth/sign-up">Sign up</a>
        <a class="indexBtn btn btn-dark" href="/auth/sign-in">Sign in</a>
    </div>
</div>