<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Project</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h6 class="offcanvasItem"><%- include("../partial/create-project.ejs")%></h6>
    <hr>
    <div>
      <%for(let project of offCanvasProject){%>
      <div>
        <a href="/list/<%=project.num%>" class="btn projectBtn"><%=project.name%></a>
      </div>
      <%}%>
      </div>
    </div>
  </div>
  